@import './containers/Layout/Layout.css';
@import './components/ui/Button/Button.css';
@import './containers/Picker/Picker.css';
@import './containers/Palettes/Palettes.css';
@import './components/PaletteCard/PaletteCard.css';
@import './components/PaletteCard/PaletteCardItem/PaletteCardItem.css';
@import './components/AddProjectForm/AddProjectForm.css';
@import './components/SavePaletteForm/SavePaletteForm.css';
@import './containers/ProjectDisplay/Projects/Projects.css';
@import './components/Project/Palette/Palette.css';
@import './components/Project/Project.css';
@import './components/Project/Palette/Color/Color.css';
@import './containers/ProjectDisplay/ProjectDisplay.css';



body {
  color: #34495e;
  margin: 0;
  padding: 0;
  background-color: aliceblue;
  font-family: sans-serif;
  box-sizing: border-box;
}
